{% extends "base.html" %} {% block head %}
<style>
  .info {
    color: red;
  }
  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
{% endblock %} {% block title %}Client Events{% endblock %} {% block content %}
<h1 align="center">
  Welcome To Event Creation <span class="info"> {{ name }} </span>
</h1>
<div class="main_container">
  <a href="/create-event"><h2>Create Event</h2></a>
  <a href="/created_event_edit"><h2>View Your Events</h2></a>
  <a href="/create_event_history"><h2>Past Created Events</h2></a>
  <a href="/event_attendee_list"><h2>Attendee List</h2></a>
  <a href="/join_room"><h2>Chat Room</h2></a>
  <a href="/video_chat_dashboard" target="_blank"><h2>Video Chat Room</h2></a>
  <a href="/create_event_profile"><h2>View Profile</h2></a>
  <a href="/create_rate_supplier"><h2>View Suppliers</h2></a>
</div>

<div>
  <h6>Notes:</h6>
</div>

{% endblock %} {% block javascript %}
<script></script>
{% endblock %}
