{% extends "base.html" %} {% block head %}
<style>
  .info {
    color: red;
  }
  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
{% endblock %} {% block title %}Client Events{% endblock %} {% block content %}
<h1 align="center">
  Welcome To Past Created Events <span class="info"> {{ name }} </span>
</h1>
<div class="main_container">
  <div class="containee1">
    <a href="/create-event"><h1>Create Event</h1></a>
  </div>
  <div class="containee2">
    <a href="/created_event_edit"><h1>View Your Events</h1></a>
  </div>
  <div class="containee3">
    <a href="/event_attendee_list"><h1>Event Attendee List</h1></a>
  </div>
</div>

<div>
  <h6>Notes:</h6>
</div>

<div class="past_created_events">
  <ul>
    {% for event in event_history %}
    <li>
      <h3>{{ event.event_name }}</h3>
      <p>{{ event.event_desc }}</p>
      <p>Type: {{ event.event_type }}</p>
      <p>Privacy: {{ event.event_privacy }}</p>
      <p>Start: {{ event.start_date }}</p>
      <p>End: {{ event.end_date }}</p>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %} {% block javascript %}
<script></script>
{% endblock %}
