{% extends "base.html" %}
{% block head %}
<style>
  .info {
    font-weight: bold;
    color: red;
  }

  .events-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .note {
    text-align: center;
    width: 50%;
  }
</style>
{% endblock %}
{% block title %}Attendee Dashboard{% endblock %}
{% block content %}
<div class="events-container">
  <a href="/attendee_invites" class="btn btn-primary">View Invites</a>
  <a href="/attendee_browse" class="btn btn-primary">Public Events To Attend</a>
  <a href="/attendee_events" class="btn btn-primary">View Your Events</a>
  <a href="/attendee_history" class="btn btn-primary">Past Events Attended</a>
  <a href="/join_room_attendee" class="btn btn-primary">Chat Room</a>
  <a href="/video_chat_dashboard_attendee" target="_blank" class="btn btn-primary">Join Video Chat</a>
</div>
<h1 align="center">
  Hello <span class="info">{{ name }}</span>, Welcome, Let's Find Some Events For You.
</h1>
<h6 align="center">
  Note: As an attendee you are able to be invited to events, attend public events and rate event creators after the
  event you attended.
</h6>

{% endblock %}
{% block javascript %}
<script></script>
{% endblock %}