{% extends "base.html" %}

{% block head %}
<style>
  .info {
    font-weight: bold;
    color: red;
  }

  .events-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .event-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    /* Set a fixed width for consistency */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h2,
  h4 {
    margin: 10px 0;
    /* Add margin for better spacing */
  }

  button {
    margin-top: 10px;
    /* Space between button and other content */
  }
</style>
{% endblock %}

{% block title %}
Attendee Dashboard
{% endblock %}

{% block content %}
<div class="events-container">
  <a href="/attendee_invites" class="btn btn-primary">View Invites</a>
  <a href="/attendee_events" class="btn btn-primary">View Your Events</a>
  <a href="/attendee_history" class="btn btn-primary">Past Events Attended</a>
  <a href="/join_room_attendee" class="btn btn-primary">Chat Room</a>
  <a href="/video_chat_dashboard_attendee" target="_blank" class="btn btn-primary">Join Video Chat</a>
</div>

<h1 align="center">
  Hello <span class="info">{{ name }}</span>, Welcome To Event Browsing.
</h1>
<h6>Note:</h6>

<h2>Public Events:</h2>
{% if public_events %}
{% for event in public_events %}
<div class="event-card">
  <h4>Event Name: {{ event.event_name }}</h4>
  <h4>Created By: {{ event.creator_name }}</h4>
  <form action="/view_creator_info" method="POST" class="view-creator-info-form">
    <input type="hidden" name="creator_name" value="{{ event.creator_name }}" />
    <button type="submit" class="btn btn-primary">View Creator Information</button>
  </form>
  <h4>Event Description: {{ event.event_desc }}</h4>
  <h4>Room Code: {{ event.room_code }}</h4>
  <h4>Start Date: {{ event.start_date }}</h4>
  <h4>End Date: {{ event.end_date }}</h4>
  <form id="rsvp-form-{{ event.event_name }}" action="/rsvp_spot" method="POST">
    <input type="hidden" name="event_name" value="{{ event.event_name }}" />
    <input type="hidden" name="creator_name" value="{{ event.creator_name }}" />
    <button type="submit" class="btn btn-success">RSVP Spot</button>
  </form>
</div>
{% endfor %}
{% else %}
<p>No public events found.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  // Add any necessary JavaScript here
</script>
{% endblock %}