{% extends "base.html" %}
{% block head %}
<style>
  .info {
    font-weight: bold;
    color: red;
  }

  .events-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .note {
    text-align: center;
  }
</style>
{% endblock %}
{% block title %}Attendee Dashboard{% endblock %}
{% block content %}
<div class="events-container">
  <a href="/attendee_invites" class="btn btn-primary">View Invites</a>
  <a href="/attendee_browse" class="btn btn-primary">Public Events To Attend</a>
  <a href="/attendee_events" class="btn btn-primary">View Your Events</a>
  <a href="/join_room_attendee" class="btn btn-primary">Chat Room</a>
  <a href="/video_chat_dashboard_attendee" target="_blank" class="btn btn-primary">Join Video Chat</a>
</div>
<h1 align="center">
  Hello <span class="info">{{ name }}</span>, Welcome To Past Attended Events.
</h1>
<h6 class="note">Note:</h6>

<div class="past_attended_events">
  <ul>
    {% for event in attendee_history %}
    <li>
      <h3>{{ event.creator_name }}</h3>
      <form action="/view_creator_info" method="POST" class="view-creator-info-form">
        <input type="hidden" name="creator_name" value="{{ event.creator_name }}" />
        <button type="submit" class="btn btn-primary">View Creator Information</button>
      </form>
      <h3>{{ event.event_name }}</h3>
      <p>{{ event.event_desc }}</p>
      <p>Privacy: {{ event.event_privacy }}</p>
      <p>Start: {{ event.start_date }}</p>
      <p>End: {{ event.end_date }}</p>

      <!-- Form to rate the event creator -->
      {% if event.end_date <= now %} <form method="POST" action="/attendee_rate_creator">
        <input type="hidden" name="creator_name" value="{{ event.creator_name }}" />
        <button type="submit" class="btn btn-primary">Rate Event Creator</button>
        </form>
        {% else %}
        <button class="btn btn-secondary" disabled>Rate Event Creator (Event is still ongoing)</button>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
{% block javascript %}
<script>
  // JavaScript can be added here if needed for additional functionality
</script>
{% endblock %}