<html>
  <head>
    <title>FullCalendar</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <h2><center>Event Calendar</center></h2>
    <a href="/role"><center>home</center></a>
    <div class="container">
      <div id="calendar"></div>
    </div>
    <br />
  </body>
</html>

<script>
  $(document).ready(function () {
    $("#calendar").fullCalendar({
      events: "/fetch-events", // Fetch events from this route

      // Customize event rendering
      eventRender: function (event, element) {
        // Add title and event description as tooltip
        element.attr(
          "title",
          "Description: " +
            event.description +
            "\nPrivacy: " +
            event.event_privacy
        );

        // Optionally, add event details to the event title
        element
          .find(".fc-title")
          .append(
            "<br/>" + event.description + "<br/>Privacy: " + event.event_privacy
          );
      },

      // Event click to display more information in a modal or popup
      eventClick: function (event, jsEvent, view) {
        alert(
          "Event: " +
            event.title +
            "\nDescription: " +
            event.description +
            "\nPrivacy: " +
            event.event_privacy
        );
      },
    });
  });
</script>
