{% extends "base.html" %}
{% block head %}
<style>
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .join {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    color: red;
  }
</style>
{% endblock %}
{% block title %}Chat Room{% endblock %}
{% block content %}
<div class="main_container">
  {% if role == "Event Creator" %}
  <a href="/create-event" class="btn btn-primary">
    Create Event
  </a>
  <a href="/created_event_edit" class="btn btn-primary">
    View Your Events
  </a>
  <a href="/create_event_history" class="btn btn-primary">
    Finalized Events
  </a>
  <a href="/event_attendee_list" class="btn btn-primary">
    Attendee List
  </a>
  <a href="/video_chat_dashboard" target="_blank" class="btn btn-primary">
    Video Chat Room
  </a>
  <a href="/create_rate_supplier" class="btn btn-primary">
    View Suppliers
  </a>
  <a href="/create_event_profile" class="btn btn-primary">
    View Profile
  </a>
  {% endif %}
  {% if role == "Attendee" %}
  <a href="/attendee_invites" class="btn btn-primary">
    <h2>View Invites</h2>
  </a>
  <a href="/attendee_browse" class="btn btn-primary">
    <h2>Browse Events To Attend</h2>
  </a>
  <a href="/attendee_events" class="btn btn-primary">
    <h2>View Your Events</h2>
  </a>
  <a href="/attendee_history" class="btn btn-primary">
    <h2>Past Events Attended</h2>
  </a>
  <a href="/video_chat_dashboard_attendee" target="_blank" class="btn btn-primary">
    <h2>Video Chat Room</h2>
  </a>
  {% endif %}
  {% if role == "Client" %}
  <a href="/client" class="btn btn-primary">Plan An Event</a>
  <a href="/client_events" class="btn btn-primary">View Your Events</a>
  <a href="/client_attend_events" class="btn btn-primary">Attend Public Events</a>
  <a href="/client_events_to_attend" class="btn btn-primary">RSVPed Events</a>
  <a href="/client_hire_supplier" class="btn btn-primary">Hire Supplier</a>
  <a href="/create_event_profile_client" class="btn btn-primary">View Profile</a>
  <a href="/video_chat_dashboard" target="_blank" class="btn btn-primary">Video Chat Room</a>
  {% endif %}
</div>

<h1 align="center">
  Hello <span class="info">{{ name }}</span>, Welcome Joining Chat Rooms.
</h1>

<form method="post" class="buttons">
  <h3>Enter The Chat Room</h3>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}" required />
    <button type="submit" name="join" class="btn btn-primary">Join a Room</button>
  </div>

  {% if role == "Attendee" %}
  <div class="room_codes_attendee">
    <h4>Your RSVP'd Event Rooms</h4>
    <ul>
      {% for event in rsvp_events %}
      <li>
        Room Code: {{ event.room_code }} - Event Name: {{ event.event_name }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if role == "Event Creator" %}
  <div class="room_codes_creator">
    <h4>Your Created Event Rooms</h4>
    <ul>
      {% for event in created_events %}
      <li>
        Room Code: {{ event.room_code }} - Event Name: {{ event.event_name }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if role == "Client" %}
  <div class="room_codes_creator">
    <h4>Your Created Event Rooms</h4>
    <ul>
      {% for event in client_attend %}
      <li>
        Room Code: {{ event.room_code }} - Event Name: {{ event.event_name }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
<script type="text/javascript">
  var socketio = io();
</script>
{% endblock %}