{% extends "base.html" %}

{% block head %}
<style>
  .info {
    color: red;
  }

  .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event-link {
    text-align: center;
    margin: 10px 0;
  }

  .supplier-type {
    margin: 20px 0;
  }

  .supplier-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block title %}
Client Events
{% endblock %}

{% block content %}
<div class="holder">
  <div class="d-flex justify-content-around flex-wrap">
    {% if role == "Event Creator" %}
    <a href="/create-event" class="btn btn-primary mb-3">
      <h4>Create Event</h4>
    </a>
    <a href="/created_event_edit" class="btn btn-primary mb-3">
      <h4>View Your Events</h4>
    </a>
    <a href="/create_event_history" class="btn btn-primary mb-3">
      <h4>Finalized Events</h4>
    </a>
    <a href="/event_attendee_list" class="btn btn-primary mb-3">
      <h4>Attendee List</h4>
    </a>
    <a href="/rating_and_feedback" class="btn btn-primary mb-3">
      <h4>Rate Suppliers</h4>
    </a>
    <a href="/join_room" class="btn btn-primary mb-3">
      <h4>Chat Room</h4>
    </a>
    <a href="/video_chat_dashboard" target="_blank" class="btn btn-primary mb-3">
      <h4>Video Chat Room</h4>
    </a>
    <a href="/create_event_profile" class="btn btn-primary mb-3">
      <h4>View Profile</h4>
    </a>
    {% endif %}

    {% if role == "Client" %}
    <a href="/client" class="btn btn-primary mb-3">
      <h4>Plan An Event</h4>
    </a>
    <a href="/client_events" class="btn btn-primary mb-3">
      <h4>View Your Events</h4>
    </a>
    <a href="/client_attend_events" class="btn btn-primary mb-3">
      <h4>Attend Public Events</h4>
    </a>
    <a href="/client_events_to_attend" class="btn btn-primary mb-3">
      <h4>RSVPed Events</h4>
    </a>
    <a href="/client_hire_supplier" class="btn btn-primary mb-3">
      <h4>Hire Supplier</h4>
    </a>
    <a href="/rating_and_feedback" class="btn btn-primary mb-3">
      <h4>Rate Suppliers</h4>
    </a>
    <a href="/create_event_profile_client" class="btn btn-primary mb-3">
      <h4>View Profile</h4>
    </a>
    <a href="/join_room" class="btn btn-primary mb-3">
      <h4>Chat Room</h4>
    </a>
    <a href="/video_chat_dashboard" target="_blank" class="btn btn-primary mb-3">
      <h4>Video Chat Room</h4>
    </a>
    {% endif %}
  </div>
</div>


<div>
  <h1 align="center">
    Welcome to Rating And Feedback <span class="info">{{ name }}</span>
  </h1>
</div>

<h3>Sort By:</h3>
<div>
  {% for category in ["Cakes", "Digital Printers", "Event Planners", "Grazing Table", "Makeup And Hair Stylists",
  "Photobooths", "Photographers", "Catering Service", "Churches", "Event Stylists", "Event Places", "Lights and Sounds"]
  %}
  <button type="button" class="btn btn-primary mb-3" id="sort{{ loop.index }}">{{ category }}</button>
  {% endfor %}
</div>

{% for category in ["Cakes", "Digital_Printing", "Event_Planner", "Grazing_Table", "Makeup_and_Hair", "Photobooth",
"Photographer", "Catering", "Church", "Event_Stylist", "Events_Place"] %}
<div class="supplier-type">
  <h1>{{ category|replace('_', ' ')|title }}</h1>
  {% for thing in new_things3 %}
  {% if thing.type == category %}
  <div class="supplier-card">
    <h4>{{ thing.name }}</h4>
    <form action="/rate_supplier" method="post">
      <input type="hidden" name="supplier_name" value="{{ thing.name }}" />
      <button type="submit" class=" btn btn-primary mb-3 rate_the_supplier">Rate Supplier</button>
    </form>
    <h6>Business Name: {{ thing.business_name }}</h6>
    <h6>Contact Number: {{ thing.contact_number }}</h6>
    <h6>Email: {{ thing.email }}</h6>
    <h6>Rating: {{ thing.rating }}</h6>
    <h6>Commission: {{ thing.price }}</h6>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}
{% endblock %}