{% extends "base.html" %} {% block title %}Supplier Profile{% endblock %} {%
block head %}
<style>
  .info {
    color: red;
  }
  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
{% endblock %} {%block content %}

<div class="main_container">
  <a href="/supplier_rating_feedback"><h2>View Feedback and Ratings</h2></a>
  <a href="/create_event_profile_supplier"><h2>View Profile</h2></a>
  <a href="/supplier_requests"><h2>View Requests</h2></a>
  <a href="/join_room"><h2>Chat Room</h2></a>
  <a href="/video_chat_dashboard" target="_blank"><h2>Video Chat Room</h2></a>
</div>
<h1 align="center">My Supplier Information</h1>
<div align="center">
  <h3>Name: {{ fullname }}</h3>
  <h3>Supplier Type: {{ supplier_type }}</h3>
  <h3>Average Commission: {{ commission }}</h3>
  <h3>Phone Number 1: {{ phone_number }}</h3>
  <h3>Phone Number 2: {{ phone_number2 }}</h3>
  <h3>Email: {{ email_sup }}</h3>
  <h3>Description: {{ self_desc }}</h3>
  <h3>Additional Info: {{ extra_info }}</h3>
  <h3>Rating: {{ rating }}</h3>
</div>
{% endblock %}
