{% extends "base.html" %} {% block title %}Supplier Profile{% endblock %} {%
block head %}
<style>
  .info {
    color: red;
  }
  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
{% endblock %} {%block content %}
<h1 align="center">Supplier Information</h1>
<div class="container">
  <h1>Supplier Details</h1>
  <h2>Name: {{ supplier.fullname }}</h2>
  <p>Supplier Type: {{ supplier.supplier_type }}</p>
  <p>Price: {{ supplier.commission }}</p>
  <p>Rating: {{ supplier.over_all_rating }}</p>
  <p>Business Email: {{ supplier.email_sup }}</p>
  <p>Primary Contact Number: {{ supplier.phone_number2 }}</p>
  <p>Secondary Contact Number: {{ supplier.phone_number2 }}</p>
  <p>Description: {{ supplier.supplier_description }}</p>
  <p>Extra Information: {{ supplier.extra_info }}</p>
  <img
    src="{{ url_for('static', filename='uploads/' + user.credibility1) }}"
    alt="Credibility Image 1"
    width="200"
  />
  <img
    src="{{ url_for('static', filename='uploads/' + user.credibility2) }}"
    alt="Credibility Image 2"
    width="200"
  />
  <img
    src="{{ url_for('static', filename='uploads/' + user.credibility3) }}"
    alt="Credibility Image 3"
    width="200"
  />
  <img
    src="{{ url_for('static', filename='uploads/' + user.credibility4) }}"
    alt="Credibility Image 4"
    width="200"
  />
  <img
    src="{{ url_for('static', filename='uploads/' + user.credibility5) }}"
    alt="Credibility Image 5"
    width="200"
  />
  <br />
  <a
    href="{{ url_for('views_creator.created_event_edit') }}"
    class="btn btn-secondary"
    >Back</a
  >

  <form method="POST">
    <input type="hidden" name="supplier_id" value="{{ supplier.id }}" />

    <label for="rating">Rate Supplier</label>
    <select name="rating" id="rating" class="form-control" required>
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
      <option value="4.5">4.5</option>
      <option value="5">5</option>
    </select>

    <label for="feedback">Give Supplier Feedback</label>
    <textarea
      name="feedback"
      id="feedback"
      class="form-control"
      required
    ></textarea>

    <button type="submit" class="btn btn-primary mt-3">Submit Feedback</button>
  </form>
</div>
{% endblock %}
