{% extends 'video_chat_base.html' %} {% block title %}My Dashboard{% endblock %}
{% block content %}
<h1><b>Welcome</b> {{ first_name }} {{ last_name }}</h1>
<div class="container">
    <h1 class="text-center mt-5">Join Meeting</h1>
    <form method="POST" action="{{ url_for('views_creator.video_join_meeting') }}" class="mt-4">
        <div class="form-group">
            <input type="text" placeholder="Room ID:" class="form-control" id="roomID" name="roomID" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Join</button>
    </form>
</div>
  {% endblock %}
</div>
